html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #0077b5;
    color: white;
    text-align: center;  
    width: 100%;
    height: 100%;
}

nav > h1{
    font-size: 36px;
    padding: 20px;
}

.admin-panel{
    border: black 1px solid ;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 140px;
}

.admin-panel > h2{
    border: black 1px solid ;
    font-size: 24px;
}

.admin button{
    width: 200px;
    height: 60px;
    gap: 20px;
    font-weight: 200px;
    background-color: #0077b5;
    border-radius: 12px;
    border: none;
}

.admin button:hover{
    background-color: #005f8d;
    color: white;
    cursor: pointer;
    transition: 700ms;
}

.admin{
    width: 1600px;
    border: black 1px solid ;
    display: grid;
    grid-template-columns:250px 250px 250px; ;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.vagas{
    width: 1200px;
    display: grid;
    height: 650px;
    border: black 1px solid ;
    text-align: center;
    align-items: center;
    gap: 10px;
}
.vagas > h1{
    grid-column: 1 / span 3;
    border: black 1px solid ;
    font-size: 24px;
    margin-bottom: -30px;
    margin-top: -14px;
}

.sidebar {
    grid-column: 1;
    width: auto;
    height: 600px;
    border: black 1px solid ;
}

.descricao{
    grid-column: 2 / span 2;
    border: black 1px solid ;
    height: 600px;
    width: auto;
}