{% extends "admin_base.html" %}

{% block conteudo %}
<div class="descricao expandida">

    <a href="/?vaga_id={{ vaga.id_vaga }}" class="btn-voltar">
        <button class="botao_padrao">← Voltar</button>
    </a>

    <h2>Editar Vaga</h2>

    <form method="POST" class="criar-vagas">

        <label>Título:</label>
        <input 
            type="text" 
            name="titulo_vaga" 
            value="{{ vaga.titulo_vaga }}" 
            required
        >

        <label>Empresa:</label>
        <input 
            type="text" 
            name="empresa_vaga" 
            value="{{ vaga.empresa_vaga }}" 
            required
        >

        <label>Salário:</label>
        <input 
            type="number" 
            name="salario_vaga" 
            value="{{ vaga.salario_vaga }}" 
            required
        >

        <label>Descrição:</label>
        <textarea name="descricao_vaga" required>{{ vaga.descricao_vaga }}</textarea>

        <button type="submit" class="botao_padrao">Salvar Alterações</button>

    </form>
</div>
{% endblock %}
